@font-face {
  font-family: "iconfont"; /* Project id 2985001 */
  src: url('iconfont.woff2?t=1639275565607') format('woff2'),
       url('iconfont.woff?t=1639275565607') format('woff'),
       url('iconfont.ttf?t=1639275565607') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e62b";
}

.icon-weibo:before {
  content: "\e8bb";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

.icon-next:before {
  content: "\e62e";
}

.icon-pre:before {
  content: "\e62f";
}

.icon-sousu:before {
  content: "\e627";
}

